.about {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #f9f9f9;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  text-align: right; 
}

.about-image {
  max-width: 180px;
  margin-left: 1rem; 
}

.about-text {
  max-width: 900px;
  text-align: right; 
}

.about-text h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.about-text p {
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.5;
}

.about-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap; 
}

.about-item {
  background-color: white;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 200px;
  text-align: center;
  height: 220px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.about-item img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.about-item p {
  font-size: 1rem;
  margin-top: 0.5rem;
}
