.apartment-page-container {
  padding: 4rem;
}

.apartment-page-container p,
.apartment-page-container h3,
.apartment-page-container h4 {
  margin: 0;
}

.apartment-page-wrapper {
  display: flex;
  flex-direction: column;

  border: 1px solid rgb(207, 207, 207);
  border-radius: 1rem;

  overflow: hidden;

  box-shadow: 0px 0px 4px rgb(207, 207, 207);

  max-width: 600px;
  margin: auto;
}

.apartment-page-header {
  display: flex;
  justify-content: space-between;
}

.apartment-page-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.75rem 2rem 0.75rem;
  gap: 0.5rem;
}

.apartment-page-description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.apartment-page-tags {
  display: flex;
  flex-direction: column;
}

.apartment-page-tag {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.apartment-page-tag p {
  width: 100px;
}

.apartment-page-insights-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.apartment-page-insights-category {
  font-weight: 500;
  color: #1f5738;
}

.apartment-page-insight-value-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.apartment-page-insight-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #1f5738;
}
