.matching-section {
  padding: 50px;
  background-color: #f7f7f7;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
}

.matching-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.matching-form label {
  margin-bottom: 15px;
  width: 100%;
}

.matching-form select,
.matching-form input,
.matching-form textarea {
  width: 100%; 
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.matching-form span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.tag-container {
  margin-bottom: 20px;
  width: 100%;
}

.tag-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tag-label p {
  width: 150px; 
  margin-right: 5px;
}

.checkbox-group {
  display: flex;
  justify-content: space-between;
  width: 200px; 
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 5px; 
}

.matching-form button {
  padding: 10px 30px;;
  font-size: 1.2rem; 
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-self: center;
}

.matching-form button:hover {
  background-color: #0056b3;
}

.range-values {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.range-values span {
  padding: 5px 10px; 
  background-color: #f0f0f0; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
}

.rc-slider-track {
  background-color: rgb(4, 164, 217); /* Black color for the active track */
}

