
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 2rem;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-links li {
  font-size: 1rem;
}

.footer-links a {
  text-decoration: none;
  color: white;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer p {
  margin: 0.5rem 0;
}

.social-icons img{
    width: 30px;
    height: 30px;
    padding: 0.5rem;
  }

